/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

video-holder {
  width: 100vw;
  height: 100vh;
}

video {
  height: 100vh;
}